---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/resque/resque/pulls/1082
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '45'
      x-ratelimit-reset:
      - '1513646476'
      etag:
      - W/"5613c5fbe6974fd326a2f3d0cd65e1da"
      last-modified:
      - Wed, 13 Dec 2017 10:11:57 GMT
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/resque/resque/pulls/1082","id":6910084,"html_url":"https://github.com/resque/resque/pull/1082","diff_url":"https://github.com/resque/resque/pull/1082.diff","patch_url":"https://github.com/resque/resque/pull/1082.patch","issue_url":"https://api.github.com/repos/resque/resque/issues/1082","number":1082,"state":"closed","locked":false,"title":"100%
        yardoc.","user":{"login":"yaauie","id":210924,"avatar_url":"https://avatars1.githubusercontent.com/u/210924?v=4","gravatar_id":"","url":"https://api.github.com/users/yaauie","html_url":"https://github.com/yaauie","followers_url":"https://api.github.com/users/yaauie/followers","following_url":"https://api.github.com/users/yaauie/following{/other_user}","gists_url":"https://api.github.com/users/yaauie/gists{/gist_id}","starred_url":"https://api.github.com/users/yaauie/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yaauie/subscriptions","organizations_url":"https://api.github.com/users/yaauie/orgs","repos_url":"https://api.github.com/users/yaauie/repos","events_url":"https://api.github.com/users/yaauie/events{/privacy}","received_events_url":"https://api.github.com/users/yaauie/received_events","type":"User","site_admin":false},"body":"100%
        yard documentation.\n","created_at":"2013-07-13T16:56:18Z","updated_at":"2014-06-27T10:09:27Z","closed_at":"2013-07-13T16:57:20Z","merged_at":"2013-07-13T16:57:20Z","merge_commit_sha":"0ab5c04004a05e49591baef941b7e6c48646e1d9","assignee":null,"assignees":[],"requested_reviewers":[],"milestone":null,"commits_url":"https://api.github.com/repos/resque/resque/pulls/1082/commits","review_comments_url":"https://api.github.com/repos/resque/resque/pulls/1082/comments","review_comment_url":"https://api.github.com/repos/resque/resque/pulls/comments{/number}","comments_url":"https://api.github.com/repos/resque/resque/issues/1082/comments","statuses_url":"https://api.github.com/repos/resque/resque/statuses/93fe8414a04a996f8589daa0c547745b7bf8e95b","head":{"label":"yaauie:yardoc-complete","ref":"yardoc-complete","sha":"93fe8414a04a996f8589daa0c547745b7bf8e95b","user":{"login":"yaauie","id":210924,"avatar_url":"https://avatars1.githubusercontent.com/u/210924?v=4","gravatar_id":"","url":"https://api.github.com/users/yaauie","html_url":"https://github.com/yaauie","followers_url":"https://api.github.com/users/yaauie/followers","following_url":"https://api.github.com/users/yaauie/following{/other_user}","gists_url":"https://api.github.com/users/yaauie/gists{/gist_id}","starred_url":"https://api.github.com/users/yaauie/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yaauie/subscriptions","organizations_url":"https://api.github.com/users/yaauie/orgs","repos_url":"https://api.github.com/users/yaauie/repos","events_url":"https://api.github.com/users/yaauie/events{/privacy}","received_events_url":"https://api.github.com/users/yaauie/received_events","type":"User","site_admin":false},"repo":{"id":3599632,"name":"resque","full_name":"yaauie/resque","owner":{"login":"yaauie","id":210924,"avatar_url":"https://avatars1.githubusercontent.com/u/210924?v=4","gravatar_id":"","url":"https://api.github.com/users/yaauie","html_url":"https://github.com/yaauie","followers_url":"https://api.github.com/users/yaauie/followers","following_url":"https://api.github.com/users/yaauie/following{/other_user}","gists_url":"https://api.github.com/users/yaauie/gists{/gist_id}","starred_url":"https://api.github.com/users/yaauie/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yaauie/subscriptions","organizations_url":"https://api.github.com/users/yaauie/orgs","repos_url":"https://api.github.com/users/yaauie/repos","events_url":"https://api.github.com/users/yaauie/events{/privacy}","received_events_url":"https://api.github.com/users/yaauie/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/yaauie/resque","description":"Resque
        is a Redis-backed Ruby library for creating background jobs, placing them
        on multiple queues, and processing them later.","fork":true,"url":"https://api.github.com/repos/yaauie/resque","forks_url":"https://api.github.com/repos/yaauie/resque/forks","keys_url":"https://api.github.com/repos/yaauie/resque/keys{/key_id}","collaborators_url":"https://api.github.com/repos/yaauie/resque/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/yaauie/resque/teams","hooks_url":"https://api.github.com/repos/yaauie/resque/hooks","issue_events_url":"https://api.github.com/repos/yaauie/resque/issues/events{/number}","events_url":"https://api.github.com/repos/yaauie/resque/events","assignees_url":"https://api.github.com/repos/yaauie/resque/assignees{/user}","branches_url":"https://api.github.com/repos/yaauie/resque/branches{/branch}","tags_url":"https://api.github.com/repos/yaauie/resque/tags","blobs_url":"https://api.github.com/repos/yaauie/resque/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/yaauie/resque/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/yaauie/resque/git/refs{/sha}","trees_url":"https://api.github.com/repos/yaauie/resque/git/trees{/sha}","statuses_url":"https://api.github.com/repos/yaauie/resque/statuses/{sha}","languages_url":"https://api.github.com/repos/yaauie/resque/languages","stargazers_url":"https://api.github.com/repos/yaauie/resque/stargazers","contributors_url":"https://api.github.com/repos/yaauie/resque/contributors","subscribers_url":"https://api.github.com/repos/yaauie/resque/subscribers","subscription_url":"https://api.github.com/repos/yaauie/resque/subscription","commits_url":"https://api.github.com/repos/yaauie/resque/commits{/sha}","git_commits_url":"https://api.github.com/repos/yaauie/resque/git/commits{/sha}","comments_url":"https://api.github.com/repos/yaauie/resque/comments{/number}","issue_comment_url":"https://api.github.com/repos/yaauie/resque/issues/comments{/number}","contents_url":"https://api.github.com/repos/yaauie/resque/contents/{+path}","compare_url":"https://api.github.com/repos/yaauie/resque/compare/{base}...{head}","merges_url":"https://api.github.com/repos/yaauie/resque/merges","archive_url":"https://api.github.com/repos/yaauie/resque/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/yaauie/resque/downloads","issues_url":"https://api.github.com/repos/yaauie/resque/issues{/number}","pulls_url":"https://api.github.com/repos/yaauie/resque/pulls{/number}","milestones_url":"https://api.github.com/repos/yaauie/resque/milestones{/number}","notifications_url":"https://api.github.com/repos/yaauie/resque/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/yaauie/resque/labels{/name}","releases_url":"https://api.github.com/repos/yaauie/resque/releases{/id}","deployments_url":"https://api.github.com/repos/yaauie/resque/deployments","created_at":"2012-03-02T05:53:55Z","updated_at":"2013-08-08T18:35:11Z","pushed_at":"2013-08-08T18:30:51Z","git_url":"git://github.com/yaauie/resque.git","ssh_url":"git@github.com:yaauie/resque.git","clone_url":"https://github.com/yaauie/resque.git","svn_url":"https://github.com/yaauie/resque","homepage":"http://github.com/blog/542-introducing-resque","size":2995,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":false,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit"},"forks":0,"open_issues":0,"watchers":1,"default_branch":"master"}},"base":{"label":"resque:master","ref":"master","sha":"260d4b164b95ad6b656bd6b9b4f1878423a3719f","user":{"login":"resque","id":3876747,"avatar_url":"https://avatars0.githubusercontent.com/u/3876747?v=4","gravatar_id":"","url":"https://api.github.com/users/resque","html_url":"https://github.com/resque","followers_url":"https://api.github.com/users/resque/followers","following_url":"https://api.github.com/users/resque/following{/other_user}","gists_url":"https://api.github.com/users/resque/gists{/gist_id}[...]
- request:
    method: get
    uri: https://api.github.com/repos/resque/resque/pulls/9999
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 404 Not Found
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '44'
      x-ratelimit-reset:
      - '1513646476'
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/pulls/#get-a-single-pull-request"}'
  recorded_at: Tue, 19 Dec 2017 00:44:30 GMT
[...]
