%p
  Tired of polling open pull requests to see if one of them has been closed?
  We can help!
  Just add GitHub URLs of pull requests you care about,
  and we will notify you by email as soon as they are merged.

%p
  All you need is a GitHub account!

= button_to "Sign in with GitHub", '/auth/github', class: %w{btn btn-primary}
